.author-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 40px;
  background-color: #f8f9fa;
  font-family: system-ui, -apple-system, sans-serif;
}

.author-page h1 {
  font-size: 2.8rem;
  color: #212529;
  margin-bottom: 50px;
  text-align: center;
}

.auth-info {
  max-width: 800px;
}

.auth-info p {
  font-size: 1.25rem;
  color: #495057;
  line-height: 1.7;
  margin: 0 0 30px 0;
  text-align: justify;
}

.auth-note {
  font-size: 1.25rem;
  font-weight: 700;
  color: #343a40;
  text-align: center;
}

.auth-submit {
  font-weight: 700;
  color: #343a40;
  margin-bottom: 0 !important;
  font-size: 1.25rem;
  text-align: center;
}

