.auth-submit1 {
  /* margin-top: 25px; */
  /* padding-bottom: 10px; */
  /* font-weight: 700; */
  /* color: #726e6e; */
  /* margin-bottom: 0 !important; */
  font-size: 1.25rem;
  text-align: center;
}