img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
  display: block;
}
.header {
  position: relative;
  width: 100%;
  height: auto;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
}

.header-text h1 {
  line-height: 1.8;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .header-text {
    width: 90%;
  }

  .header-text h1 {
    font-size: 2rem;

    line-height: 1.6;
  }
}

@media (max-width: 480px) {
  .header-text h1 {
    font-size: 1.5rem;

    line-height: 1.5;
  }
}
