.institution {
  background-color: rgb(250, 250, 250);
  color: black;
  padding: 200px 200px;
  line-height: 1.7;
  font-family: system-ui, -apple-system, sans-serif;
}
.institution h1 {
  color: #000;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 100px;
}
.institution p {
  font-size: 2rem;
  color: #333;
  text-align: justify;
}

@media (max-width: 1024px) {
  .institution {
    
    padding: 100px 80px;
  }
  .institution h1 {
    font-size: 3rem;
  }
  .institution p {
    font-size: 1.5rem;
  }
}


@media (max-width: 768px) {
  .institution {
    padding: 60px 20px;
  }
  .institution h1 {
    font-size: 2.5rem;
  }
  .institution p {
    font-size: 1.1rem;
    text-align: left;
  }
}
